In [1]:
import pandas as pd
dfOnline = pd.read_csv("online_shoppers_intention.csv")
dfOnline.shape

(12330, 18)

Apply MinMaxEncoder or StandardScaler on the continuous features

In [6]:
from sklearn.preprocessing import MinMaxScaler
from sklearn.preprocessing import StandardScaler

scaler1 = MinMaxScaler()
MinMax = pd.DataFrame(data = dfOnline[["Administrative_Duration", "Informational_Duration", "ProductRelated_Duration","BounceRates","ExitRates" ]])
dfMinMax = pd.DataFrame(data = scaler1.fit_transform(MinMax))
dfMinMax.columns = ["Administrative_Duration", "Informational_Duration", "ProductRelated_Duration","BounceRates","ExitRates"]

scaler2 = StandardScaler()
Standard = pd.DataFrame(data = dfOnline[["Administrative" ,"Informational","ProductRelated","PageValues"]])
dfStandard = pd.DataFrame(data = scaler2.fit_transform(Standard))
dfStandard.columns = ["Administrative" ,"Informational","ProductRelated","PageValues" ]

Apply OneHotEncoder or OrdinalEncoder on categorical features

In [8]:
from sklearn.preprocessing import OrdinalEncoder
from sklearn.preprocessing import OneHotEncoder

dfOneHot = pd.DataFrame(dfOnline[["SpecialDay","Month","OperatingSystems","Browser","Region","TrafficType","VisitorType", "Weekend"]])
enc = OneHotEncoder(sparse=False,handle_unknown ='ignore' )
allOneHot = enc.fit_transform(dfOneHot)
colNames = list(enc.get_feature_names())
dfOneHot_new = pd.DataFrame(data = allOneHot)
dfOneHot_new.columns = colNames
#dfOneHot_new.head()

,x0_0.0,x0_0.2,x0_0.4,x0_0.6,x0_0.8,x0_1.0,x1_Aug,x1_Dec,x1_Feb,x1_Jul,...,x5_16,x5_17,x5_18,x5_19,x5_20,x6_New_Visitor,x6_Other,x6_Returning_Visitor,x7_False,x7_True
0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,1.0,0.0
1,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,1.0,0.0
2,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,1.0,0.0
3,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,1.0,0.0
4,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,1.0

Apply the LabelEncoder on the target variable

In [14]:
from sklearn.preprocessing import LabelEncoder
tar =  LabelEncoder()
TaVar = list(dfOnline["Revenue"])
dfTaVar = pd.DataFrame(data = tar.fit_transform(TaVar))
dfTaVar.columns = ["Revenue"]

     Revenue
101        1
102        0
103        0
104        0
105        0

Combine all the preprocessed data together

In [15]:
frames = [dfOneHot_new,dfMinMax,dfStandard,dfTaVar]
dfCombined = pd.concat(frames, axis = 1)
dfCombined.head()

,x0_0.0,x0_0.2,x0_0.4,x0_0.6,x0_0.8,x0_1.0,x1_Aug,x1_Dec,x1_Feb,x1_Jul,...,Administrative_Duration,Informational_Duration,ProductRelated_Duration,BounceRates,ExitRates,Administrative,Informational,ProductRelated,PageValues,Revenue
0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,...,0.000294,0.000392,0.000016,1.00,1.00,-0.697582,-0.396631,-0.691501,-0.317178,0
1,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,...,0.000294,0.000392,0.001016,0.00,0.50,-0.697582,-0.396631,-0.669024,-0.317178,0
2,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,...,0.000000,0.000000,0.000000,1.00,1.00,-0.697582,-0.396631,-0.691501,-0.317178,0
3,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,...,0.000294,0.000392,0.000057,0.25,0.70,-0.697582,-0.396631,-0.669024,-0.317178,0
4,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,...,0.000294,0.000392,0.009824,0.10,0.25,-0.697582,-0.396631,-0.489202,-0.317178,0

Check the missing values

In [16]:
print(dfCombined.isnull().sum(axis=0)/dfCombined.shape[0])

x0_0.0            0.000000
x0_0.2            0.000000
x0_0.4            0.000000
x0_0.6            0.000000
x0_0.8            0.000000
                    ...
Administrative    0.001135
Informational     0.001135
ProductRelated    0.001135
PageValues        0.000000
Revenue           0.000000
Length: 81, dtype: float64